@import "global/variables";

* {
    font-family: 'Museo Sans', sans-serif;
}

a {
    text-decoration: none;
}

img {
	max-width: 100%;
    height: auto;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}